
// Colors
$deepOrange300: #FF8A65;

$primaryColor: $deepOrange300;
$secondaryBgColor: rgb(255, 242, 239);

// Standard styles
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h2 {
  margin: 1em 0 .5em;
}

.menu {
  padding: 0px 10px;
  background-color: $primaryColor;


  .menu-actions {
    display: inline-block;
  }

  .logo {
    display: inline-block;
    color: white;
    font-size: 42px;
    margin-right: 10%;
  }

  .format, .template-select {
    display: inline-block;
    margin: 10px;
  }
}

.card-form {
  margin-top: 1em;
}

.card {
  float: left;
  background: white;
  margin: 10px;
  display: table;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.38) 2px 2px 7px;

  .text {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}

@import "./TemplateEditor/TemplateEditor";
